@import "bootstrap/variables";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/grid-framework";
@import "bootstrap/mixins/grid";


body{
	@include container-fixed;
}

#thumb-list{
	@include container-fixed;
}

#thumb-list .box{
	@include make-row;
}

#thumb-list   article{
	$margin: 5px;
	@include make-sm-column(4,$margin);
	@include make-md-column(4, $margin);
	@include make-lg-column(3, $margin);
	margin-bottom: $margin;
}

#header,
#main,
#footer{
	
	
	.wrapper{
		width: 960px;
		margin: 0 auto;
	}
	
}

